html, body{
    height: 100%;
    background-image: url(IMG_1780.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: repeat-y;
    background: url(IMG_1780.jpg);

}
.bt{
    width:20px;
    height:20px;
    padding-left: 20px;
    padding-top: 20px;
}
header{
    background-color:maroon;
}
.close{
    color:brown;
}
.btn{
    color:black;
    font-weight: 500;
    font-size:x-large;
}
.btn:hover{
    color:darkgoldenrod;
}
.card{
    border-radius: 15px;
    border-color: darkred;
    background:#ff9100;
    padding: 2px;
    width: fit-content;
    height: fit-content;
}
.btn-group{
    border-radius: 15px;
    border-color: darkred;
    background:#ff7300;
    padding: 2px;
    width:fit-content;
    height: fit-content;
}
.front{
    position: center;
    font-weight:600;
    font-size:x-large;
    text-align: center;
}
.back{
    position:relative;
    text-align: left;
}
